
#*.pdb

db.lock
*.user

bin/Debug/
bin/Release/
obj/Debug/
obj/Release/

Web.config
Web.Debug.config
Web.Release.config
*.user

Tests/App.config

*.com
*.class
*.dll
*.exe
*.pdb
*.ddl.config
*.cache
*.suo
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
UpgradeLog.XML
_UpgradeReport_Files/
Debug/
Release/
bin/
obj/
*.Publish.xml
*.log
*.sqlite
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.user
*.[Cc]ache
.vs/
.vs/VolanteNominaRC/*