<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Volante Nómina</title>
</head>
<body>
    <style>
        #payrollBody > * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    </style>

    <div id="payrollBody" style="width: 680px" class="center-block shadow pl-4 pr-4 pb-4 pt-4">
        <table style="width:100%">
            <tr>
                <td><span style="font-weight:bold">RADIOCENTRO, S.A.S.</span></td>
                <td><span style="font-weight:bold">##cedescpago##</span></td>
                <td>CICLO: ##ceciclopag##</td>
            </tr>
            <tr>
                <td><span style="color:red">EMP-ADMINISTRATIVOS</span></td>
                <td><span style="color:red">AFILIACION SEGURIDAD SOCIAL...</span></td>
            </tr>
            <tr>
                <td><span>* VOLANTE DE PAGO *</span></td>
                <td><span style="color:red">01 de MARZO DEL 2019 AL 15 DE MARZO DE 2019</span></td>
            </tr>
        </table>

        <hr />
        <table style="width:100%">
            <tr>
                <td><span style="font-weight:bold">NOMBRE</span></td>
                <td>##cenomemple##</td>
                <td><span style="font-weight:bold">NO. EMPLEADO</span></td>
                <td style="text-align: right">##cecodemple##</td>
            </tr>
            <tr>
                <td><span style="font-weight:bold">CARGO</span></td>
                <td>##cenomcargo##</td>
                <td><span style="font-weight:bold">DEPTO.</span></td>
                <td style="text-align: right"><span style="color:red">07-02-01</span></td>
            </tr>
            <tr>
                <td><span style="font-weight:bold">CUENTA</span></td>
                <td><span style="color:red">225-5566-2</span></td>
                <td><span style="font-weight:bold">CEDULA</span></td>
                <td style="text-align: right"><span style="color:red">001-00014574-1</span></td>
            </tr>
        </table>

        <table style="width:100%">
            <tr>
                <td colspan="3">---------------------------------------------------------------------------------------------------------------------------------------</td>
            </tr>
            <tr>
                <td style="width: 60%"><span>FORMA DE PAGO: <span style="color:red">TRANSFERENCIA</span></span></td>
                <td style="width: 20%; text-align: right">INGRESOS</td>
                <td style="width: 20%; text-align: right">DEDUCCIONES</td>
            </tr>
            <tr>
                <td colspan="3">---------------------------------------------------------------------------------------------------------------------------------------</td>
            </tr>
        </table>
        <table style="width:100%" class="table-striped">
            ##payrollBody##
            <!--@foreach (var item in ViewBag.PayrollDetail.detail)
            {
            <tr>
                <td style="width: 60%">@(item.ceingdeduc)-@item.cetipotrans @item.cedesctran</td>
                <td style="width: 20%; text-align: right">
                    @if (item.ceingdeduc == "I")
                    {
                    <span>@String.Format("{0:#,##0.00}", item.cevaltrans)</span>
                    }
                </td>
                <td style="width: 20%; text-align: right">
                    @if (item.ceingdeduc == "D")
                    {
                    <span>@String.Format("{0:#,##0.00}", item.cevaltrans)</span>
                    }
                </td>
            </tr>
            }-->
        </table>

        <table style="width:100%">
            <tr>
                <td style="width: 60%"></td>
                <td style="width: 20%; text-align: right">=============</td>
                <td style="width: 20%; text-align: right">=============</td>
            </tr>
            <tr>
                <td><span style="font-weight:bold">TOTALES</span></td>
                <td style="text-align:right"><span style="font-weight:bold">##incomeTotal##</span></td>
                <td style="text-align:right"><span style="font-weight:bold">##discountTotal##</span></td>
            </tr>
        </table>

        <div style="padding-top: 40px; text-align:right">
            NETO A RECIBIR RD$ <span style="font-size:1.5em; font-weight:bold">##total##</span>
        </div>

    </div>
</body>
</html>