
@{
    ViewBag.Title = "Enviar Volantes";
}

<div class="container col-12 shadow p-3 mb-5 bg-white rounded">
    <h3 class="bg-secondary text-light pl-2 pr-2">Enviar Volantes</h3>

    <div class="row">
        <div class="col-5 pb-3 pt-3 bg-light">
            <form>
                <div class="form-row">
                    <div class="col-3 mb-3">
                        <label for="validationDefault01">Año</label>
                        <select class="custom-select" id="yearSelected" required>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="validationDefault01">Mes</label>
                        <select class="custom-select" id="monthSelected" required>
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-2 mb-3">
                        <label for="validationDefault01">Quincena</label>
                        <select class="custom-select" id="fortnightSelected" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>

                <fieldset id="radioSend">
                    <div class="custom-control custom-radio mt-3">
                        <label><input type="radio" name="radioSend" value="all" checked> <span class="ml-2">Enviar a todos</span></label>
                    </div>

                    <div class="custom-control custom-radio mt-2">
                        <label> <input type="radio" name="radioSend" value="oneEmployee"><span class="ml-2">Enviar a un empleado</span></label>
                        <input type="text" class="form-control d-inline" id="idEmployeeId" placeholder="Cod. Empleado" style="margin-top: -12px; width: 160px">
                    </div>

                    <div class="row custom-radio ml-4 mb-5 mt-2">
                        <div>
                            <label><input type="radio" name="radioSend" value="oneDirectorate"><span class="ml-2">Enviar a una dirección</span></label>
                        </div>
                        <div class="ml-1">
                            <select class="form-control" id="directorateSelected">
                                <option>Finanzas</option>
                                <option>Recursos Humanos</option>
                                <option>Operaciones</option>
                                <option>Calidad</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <button class="btn btn-danger w-100 pt-3 pb-2" id="btnSend">
                    <h4>Enviar</h4>
                </button>

                <span class="d-block bg-light text-info pl-2 pr-2 pb-1 pt-1 mt-4">Los volantes han sido enviados</span>
            </form>
        </div>

        <div class="float-right col-7 d-inline" style="height:500px; overflow: scroll">
            <table class="table">
                <thead class="bg-danger text-white">
                    <tr>
                        <th scope="col" class="text-center">Volantes Enviados</th>
                        <th scope="col" class="text-center">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">11</th>
                        <td class="text-center">25/04/2019</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

}
<script type="text/javascript">

    //const deleteUser = (codigo, id) => {
    //    if (confirm(`Seguro que desea eliminar al Empleado de código ${codigo} ?`)) {
    //        $.ajax({
    //            "url": "/User/Delete?id=" + id,
    //            "type": "POST",
    //            "success": function (response) {
    //                if (response.result === "200") {
    //                    window.location.reload();
    //                } else {
    //                    console.log(response.message);
    //                    alert('Hubo un error tratando de eliminar el usuario (Contacte al administrador del sistema).');
    //                }
    //            }
    //        });
    //    }
    //}

    $(document).ready(function () {
        $("#btnSend").on('click', function (e) {
            e.preventDefault();

            console.log("clicked SEND");
        })

        $("input[type=radio]").click(function () {
            console.log($(this).val())
        });

        $("#yearSelected").on('change', function (e) {
            var yearSelected = $('#yearSelected option:selected').val()
            console.log(yearSelected)
        })

        $("#monthSelected").on('change', function (e) {
            var yearSelected = $('#monthSelected option:selected').val()
            console.log(yearSelected)
        })

        $("#fortnightSelected").on('change', function (e) {
            var yearSelected = $('#fortnightSelected option:selected').val()
            console.log(yearSelected)
        })
    });

</script>

