
@{
    ViewBag.Title = "Enviar Volantes";
}

<style>
    .error-payroll {
        color: red !important;
    }

    .disable-button {
        pointer-events: none;
    }

</style>

<div class="container col-12 shadow p-3 mb-5 bg-white rounded">
    <h3 class="bg-secondary text-light pl-2 pr-2">Enviar Volantes</h3>

    <input type="hidden" name="by" id="by" value="all" />
    
    <div class="row">
        <div class="col-5 pb-3 pt-3 bg-light">
            <form>
                <div class="form-row">
                    <div class="col-3 mb-3">
                        <label for="validationDefault01">Año</label>
                        <select class="custom-select" id="yearSelected" required>
                            @*<option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>*@
                        </select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="validationDefault01">Mes</label>
                        <select class="custom-select" id="monthSelected" required>
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-2 mb-3">
                        <label for="validationDefault01">Quincena</label>
                        <select class="custom-select" id="fortnightSelected" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>

                <fieldset id="radioSend">
                    <div class="custom-control custom-radio mt-3">
                        <label><input type="radio" name="radioSend" value="all" checked> <span class="ml-2">Enviar a todos</span></label>
                    </div>

                    <div class="custom-control custom-radio mt-2">
                        <label> <input type="radio" name="radioSend" value="oneEmployee"><span class="ml-2">Enviar a un empleado</span></label>
                        <input type="text" class="form-control d-inline" id="employeeId" placeholder="Cod. Empleado" style="margin-top: -12px; width: 160px">
                    </div>

                    <div class="row custom-radio ml-4 mb-5 mt-2">
                        <div>
                            <label><input type="radio" name="radioSend" value="oneDirectorate"><span class="ml-2">Enviar a una dirección</span></label>
                        </div>
                        <div class="ml-1">
                            <select class="form-control" id="directorateSelected" style="min-width: 340px">
                                <option>DIRECCION DE OPERACIONES</option>
                                <option>DIRECCION GESTION HUMANA</option>
                                <option>DIRECCION COMERCIAL</option>
                                <option>DIRECCION DE FINANZAS</option>
                                <option>DIRECCION DE COMPRAS</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <button class="btn btn-danger w-100 pt-3 pb-2" id="btnSend">
                    <h4>Enviar</h4>
                </button>

                <div id="successMessage">
                    <span class="d-block bg-light text-info pl-2 pr-2 pb-1 pt-1 mt-4">Los volantes han sido enviados</span>
                </div>
                
                <div class="text-center mt-2">
                    <div id="loadding" class="spinner-grow" style="width: 4rem; height: 4rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="float-right col-7 d-inline" style="height:500px; overflow: scroll">
            <table class="table">
                <thead class="bg-danger text-white">
                    <tr>
                        <th scope="col" class="text-center">Volantes Enviados</th>
                        <th scope="col" class="text-center">Fecha</th>
                    </tr>
                </thead>
                <tbody id="payrollsSent">
               
                </tbody>
            </table>

        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

}
<script type="text/javascript">

    //const deleteUser = (codigo, id) => {
    //    if (confirm(`Seguro que desea eliminar al Empleado de código ${codigo} ?`)) {
    //        $.ajax({
    //            "url": "/User/Delete?id=" + id,
    //            "type": "POST",
    //            "success": function (response) {
    //                if (response.result === "200") {
    //                    window.location.reload();
    //                } else {
    //                    console.log(response.message);
    //                    alert('Hubo un error tratando de eliminar el usuario (Contacte al administrador del sistema).');
    //                }
    //            }
    //        });
    //    }
    //}

    const refreshPayrollsSent = () => {
        $.ajax({
            "url": `/Ajax/GetPayrollsSent/`,
            "type": "GET",
            "success": function (data) {
                
                let rows = "";
                data.forEach(function (item) {
                    const date = item.DateOrder.substr(0, 4) + "-" + item.DateOrder.substr(4, 2) + "-" + item.DateOrder.substr(6, 2);
                    const row = `<tr><th scope="row" class='text-center'> <a style='text-decorations: none' href='/Payroll/PayrollsSentDetailed/?date=${date}'>${item.Count} <a/> </th> <td class="text-center">${item.Date}</td> </tr>`;
                    rows += row;
                })

                $("#payrollsSent").html(rows);
            }
        })
    }

    const validateBeforeSend = (by) => {
        
        if (by === 'employee') {
            if ($("#employeeId").val() === "")
                return { "success": false, "message": "Necesita digitar un código de empleado" }
        }

        return { "success": true, "message": "" }
    }

    $(document).ready(function () {
        $("#successMessage").hide()
        $("#loadding").hide()
        refreshPayrollsSent()

        const currentYear = new Date().getFullYear();
        yearSelect = document.getElementById('yearSelected');
        for (let _year = currentYear; _year >= 2019; _year--) {
            yearSelect.options[yearSelect.options.length] = new Option(`${_year}`, `${_year}`);
        }
        
        $("#btnSend").on('click', function (e) {
            e.preventDefault()
            $("#successMessage").hide()
            $("#successMessage span").text("")

            const by = $("#by").val()
            const employeeId = $("#employeeId").val()
            const directorateId = $('#directorateSelected option:selected').val()
            const entityId = by == "employee" ? employeeId : directorateId
            const year = $("#yearSelected option:selected").val()
            const month = $("#monthSelected option:selected").val()
            const cycle = $("#fortnightSelected option:selected").val()
            const monthName = $("#monthSelected option:selected").text()

            const validate = validateBeforeSend(by)
            if (validate && validate.success === false) {
                $("#successMessage").show()
                $("#successMessage span").text(validate.message)
                $("#successMessage span").addClass('error-payroll')
                
                return false;
            }
            
            $("#loadding").show()
            $(this).attr('disabled', 'disabled')
            $(this).addClass("disable-button")

            let whom = by === "employee" ? ` para el empleado ${employeeId}` : ` a todos`
            whom = by === "directorate" ? ` a la Dirección de ${directorateId}` : whom

            if (confirm(`Confirmar que desea enviar los volantes de nomina correspondientes al AÑO: ${year} MES: ${monthName} QUINCENA: ${cycle} ${whom}`)) {
                console.log(`/Ajax/SendPayrollTemplate?by=${by}&entityId=${entityId}&year=${year}&month=${month}&cycle=${cycle}`);

                $.ajax({
                    "url": `/Ajax/SendPayrollTemplate?by=${by}&entityId=${entityId}&year=${year}&month=${month}&cycle=${cycle}`,
                    "type": "POST",
                    "success": function (response) {
                        $("#loadding").hide()

                        console.log(response);
                        if (response === "200") {
                            $("#successMessage span").text("Los volantes han sido enviados")
                            $("#successMessage span").removeClass('error-payroll')
                        } else {
                            $("#successMessage span").text(response)
                            $("#successMessage span").addClass('error-payroll')
                        }

                        $("#successMessage").show()
                        $("#btnSend").removeAttr('disabled')
                        $("#btnSend").removeClass('disable-button')
                        refreshPayrollsSent();
                    }
                });
            } else {
                $("#loadding").hide()
                $("#successMessage").show()
                $("#btnSend").removeAttr('disabled')
                $("#btnSend").removeClass('disable-button')
            }
        })

        $("input[type=radio]").click(function () {
            
            const value = $(this).val()
            console.log(value)
            $("#by").val(value)

            if (value !== 'all') {
                $("#by").val(value.replace('oneEmployee', 'employee')
                                  .replace('oneDirectorate', 'directorate'))
            }
        });

        $("#yearSelected").on('change', function (e) {
            var yearSelected = $('#yearSelected option:selected').val()
            console.log(yearSelected)
        })

        $("#monthSelected").on('change', function (e) {
            var yearSelected = $('#monthSelected option:selected').val()
            console.log(yearSelected)
        })

        $("#fortnightSelected").on('change', function (e) {
            var cycle = $('#fortnightSelected option:selected').val()
            console.log(cycle)
        })
    });

</script>

